@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

body {
    background: var(--Off-white);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background: var(--White);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    border-radius: 22px 22px 30% 22px;
}

.input-fields {
    font-size: 13px;
    letter-spacing: 3px;
    color: var(--Smokey-grey);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 80%;
}

.input-normal input[type=text] {
    border: 1px solid var(--Light-grey);
}

.input-error input[type=text] {
    border: 1px solid var(--Light-red);
}

.input-error label {
    color: var(--Light-red);
}

input[type=text] {
    outline: none;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    padding: .2em 1em;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s ease;
}

.input-normal input[type=text]:focus {
    border: 1px solid var(--Purple);
}

/* ----------------------------------- */
.input-fields>div {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    gap: .5em;
}

.input-fields>div label {
    text-transform: uppercase;
}

.error-result {
    font-style: italic;
    letter-spacing: normal;
    color: var(--Light-red);
}

/* ------------------------------------------------------------- */
.submit-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
}

.line {
    height: 2px;
    background: var(--Off-white);
    width: 100%;
}

.submitBtn {
    background: var(--Purple);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    transition: .25s linear;
}

.submitBtn:hover {
    background: var(--Off-black);
}

.submitBtn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.output-container {
    font-size: 5em;
    font-style: italic;
    font-weight: 800;
}

#outputYear,
#outputMonth,
#outputDay {
    color: var(--Purple);
}